.loading__heart {
  fill: transparent;
  stroke: rgb(159 18 57);
  stroke-width: 7;
  text-align: center;
  margin: 0 auto;
}

.loading__heart[data-variant='oceanblue'] {
  stroke: #5388b7;
}

.loading__heart path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
  animation: stroke-animation 3s ease-in-out infinite forwards;
  /* fill: rgb(159 18 57); */
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
  }
}
