@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: 'Reey';
    font-display: swap;
    src: url(/fonts/Reey.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Sacramento';
    font-display: swap;
    src: url(/fonts/Sacramento.woff) format('woff');
  }

  @font-face {
    font-family: 'Work Sans';
    font-display: swap;
    src: url(/fonts/WorkSans.woff) format('woff');
  }

  body,
  .p {
    @apply font-primary text-slate-800 text-lg md:text-base;
  }
}
